// COLORES
$primary: #ceac5b;
$primary-light:rgba(240,173,78,0.20);
$ligh: #f4f4f4;
$default: #D8D8D8;
$success: #69B169;
$info: #4862AF;
$warning: #F5A623;
$danger: #D3374A;
$white : #fff;
$black: #000;
$dark-gray: #4A4A4A;
$mid-gray: #9B9B9B;
$light-gray: #f7f7f7;